<div id="forgot-v2-form">

    <div class="title">
        Mot de passe oublié ?
    </div>
    <div class="description">
        Réinitialisez votre mot de passe ici.
    </div>

    <form novalidate [formGroup]="user" (ngSubmit)="onSubmit()">

        <md-input-container>
            <input mdInput type="text" placeholder="Votre mail *" formControlName="email" autocomplete="off">
            <md-hint class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                Email requis !
            </md-hint>
            <md-hint class="error" *ngIf="user.get('email').hasError('pattern') && user.get('email').touched">
                Email incorrect !
            </md-hint>
        </md-input-container>

        <button md-raised-button [disabled]="!user.valid || submitted" color="accent" type="submit" class="submit-button">
      Reinitialiser mon mot de passe.
    </button>
    </form>

    <div class="link" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center center">
        <a routerLink="/auth/login" class="link">
    Retour au login
    </a>
    </div>

    <div class="spinner">
        <fa [name]="'circle-o-notch'" [size]=4 [spin]=true *ngIf="loading"></fa>
    </div>

</div>