#forgot-v2-form {
    padding: 128px 48px 48px 48px;

    .title {
        font-size: 21px;
        text-align: center;
    }

    .description {
        text-align: center;
        padding-top: 15px;
        font-size: 15px;
    }

    md-input-container {
        width: 100%;
    }

    form {
        width: 100%;
        text-align: left;
        padding-top: 32px;

        md-checkbox {
            margin: 0;
        }

        .submit-button {
            width: 100%;
            margin: 16px auto;
            display: block;
        }

        .error {
            color: #d50000;
        }
    }

    .link {
        font-size: 13px;
        text-decoration: none;
    }

    .link:hover {
        text-decoration: underline;
    }

    .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid #42A948; /* green */
    }

    .spinner {
        text-align: center;
        margin-top: 10px;
    }
}

